<div class="page-header" >
  <h1 align="center">BIENVENIDOS AL SISTEMA MASCOTAS</h1>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3"></div>
    <div class="col-sm-3 ">
      <p><a class="btn btn-primary btn-sm" href="/CrearUsuario" role="button">Registra Usuarios</a> <a class="btn btn-primary btn-sm" href="/listarUsuarios" role="button">Listar Usuarios</a> </p>
    </div>
  </div>

</div>
<div class="container" style="background-color:black">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8" >
      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

          <div class="item active">
            <img src="http://www.todoperros.com/wp-content/uploads/2016/08/perro.jpg" alt="shakira"  width="1200">
            <div class="carousel-caption">
              <h3>Brandon</h3>
              <p>Raza Foxhound Inglés	</p>
            </div>
          </div>
          <div class="item">
            <img src="http://comoadiestraratuperro.com/wp-content/uploads/2016/04/perro-bobtail.jpg" width="1200">
            <div class="carousel-caption">
              <h3>Goofy</h3>
              <p>Raza Pastor Inglés</p>
            </div>
          </div>

          <div class="item">
            <img src="http://mascotafiel.com/wp-content/uploads/2015/10/los-nombres-de-perros-famosos_opt-compressor-1.jpg" alt="Alberto Plaza" width="1200" >
            <div class="carousel-caption">
              <h3>Beethoven y Missy</h3>
              <p>Raza San Bernardo</p>
            </div>
          </div>

          <div class="item">
            <img src="http://www.webperu.net/sites/www.webperu.net/files/styles/classified_body/public/http%3A/www.webperu.net/sites/www.webperu.net/files/176481-bulldog.jpg/176481-bulldog.jpg?itok=dfYl02vG" alt="Jennifer Lopez" width="1200">
            <div class="carousel-caption">
              <h3>Hércules</h3>
              <p>Raza Bulldog</p>
            </div>
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
