
<style>
.rojo{

        background-color:red;
    }
</style>

<div class ="rojo">
    
    <h1>Aqui empieza el Homepage</h1>

<li><a href="/quito">Quito</a></li>
<li><a href="/guayaquil">Guayaquil</a></li>
<li><a href="/cuenca">Cuenca</a></li>
<li><a href="/homepage">Home</a></li>


<h1>Aqui finaliza el Homepage</h1>
    
</div>

