<div style='background-color:white;color:black;'>

  <div class="page-header" >
    <h1 align="center">Crear Raza</h1>
  </div>
  <p>¡Registra una nueva raza!</p>

  <form action="Raza/crearRaza" method="post">
    <div class="form-group">
      <label>Nombre</label>
      <input required type="text" class="form-control" placeholder="Nombre" name="nombre">
    </div>

    <button type="submit" class="btn btn-success">Crear Raza</button>

  </form>
</div>
